.form-view-class {

    &__container {
        width: 100%;
        height: max-content;

        &__buttons {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__edit {
                width: 32%;

                button {
                    background-color: #ffa500;
                    border-color: #ffa500;
                }
            }
            
            &__manage {
                width: 32%;

                button {
                    background-color: #00b900;
                    border-color: #00b900;
                }
            }
            
            &__back {
                width: 32%;

                button {
                    background-color: transparent;
                    color: var(--blue-primary);
                    border-color: var(--blue-primary);
                }
            }
        }
    }
}