.form-register-component {

    &__container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__title {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 0;
            margin-bottom: 0;
            border-radius: 0;
            border-bottom: none;
        }

        &__span {
            margin-top: 15px;
            font-size: 14px;
            
            a {
                color: var(--blue-primary);
            }
        }
    }
}